<div class="registration-page-content">
  <div class="registration-title">
    <h2>Registracija-ispravka podataka</h2>
  </div>
  <div class="registration-form">
    <div class="col-md-4 offset-md-4">
      <div *ngIf="isDoneLoading">
        <form (ngSubmit)="confirm()">
          <div *ngFor="let formProp of formProperties" class="form-group">
            <div *ngIf="formProp.type.name == 'string' && !formProp.writable">
              <div class="alert alert-danger" role="alert">
                <strong>{{formProp.value}}</strong>
              </div>
            </div>
            <div *ngIf="formProp.writable">
              <label [for]="formProp.id">{{formProp.name}}</label>
              <div [ngSwitch]="formProp.type.name">

                <input *ngSwitchCase="'string'" [name]="formProp.id" [id]="formProp.id" [type]="formProp.id === 'password' ? 'password' : formProp.type.name"
                  class="form-control" [(ngModel)]="confirmationDetails[formProp.id]">

                <input *ngSwitchCase="'boolean'" [name]="formProp.id" [id]="formProp.id" [type]="'checkbox'" class="form-control" [checked]="registrationDetails[formProp.id]"
                  (change)="confirmationDetails[formProp.id] = !confirmationDetails[formProp.id]">
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-success float-right">Ok</button>
        </form>
      </div>
    </div>
  </div>
</div>