.task-content {
    padding: 3% 5% 5% 5%;
}

.task-title {
    border-bottom: 1px solid #b7b7b7;
}

.task-title h3 {
    padding-left: 1.2%;;
}

.glass{
	/* background styles */
	position: relative;
	display: inline-block;
	padding: 2%;
	background-color: green; /*for compatibility with older browsers*/
	background-image: linear-gradient(green,lightgreen);

	/* text styles */
	text-decoration: none;
	color: #fff;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 18px;
    border-radius: 3px;
    text-shadow: 0px -1px #333;
}

button {
    border: none;
}

.glass:after{
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}

.glass:hover{
	background: linear-gradient(#073,#0fa);
}